
/* 웹사이트 전체 영역에 적용되는 폰트 CSS 입니다 */
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'BookkMyungjo-Bd', serif;
}


/* 특정 영역에만 적용되는 폰트 CSS 입니다 */
